<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="accounting_pdf_reports.action_account_report_pl" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_tax_report" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_aged_balance_view" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

     <record id="accounting_pdf_reports.action_account_partner_ledger_menu" model="ir.actions.act_window">
         <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_general_ledger_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_balance_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

     <record id="accounting_pdf_reports.action_account_print_journal_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_report_bs" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

     <record id="accounting_pdf_reports.action_account_aged_payable" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_aged_receivable" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="accounting_pdf_reports.action_account_aged_balance_view" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="om_account_daily_reports.action_account_bankbook_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="om_account_daily_reports.action_account_cashbook_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

    <record id="om_account_daily_reports.action_account_daybook_menu" model="ir.actions.act_window">
        <field name="target">inline</field>
    </record>

</odoo>
